@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--slate-300);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
}

.info-card {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: white;
  border-radius: 10px;
}

.qr-card {
  margin: auto;
  height: 499px;
  width: 320px;
  background-color: white;
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
  flex-direction: column;
}

.qr-code-img {
  height: 288px;
  width: 288px;
  border-radius: 10px;
}

.text-container {
  padding: 16px 16px 0px 16px;

  text-align: center;
}

.font-h-bold {
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
  line-height: 120%;
  color: var(--slate-900);
}

.font-default {
  font-size: 15px;
  padding-top: 16px;
  line-height: 140%;
  color: var(--slate-500);
  letter-spacing: 0.2px;
}
